.base-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    font-size: 24px;
    font-family:  sans-serif ;
    margin-top: 1px;
}
.content {
    display:flex;
    flex-direction: column;
}
.pic {
    width: 15em;
}
    img {
        width:90%;
        height:90%;
}

.form{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}
    label{
        font-size: 15px;
    
    }
input{
    margin-top: 4px;
    min-width: 15em;
    height: 30px;
    padding: 3px 7px;
    font-size: 16px;
    font-family:sans-serif;
    background-color: f2f2f2;
    border: 0;
    border-radius: 4px;
    margin-bottom: 25px;
    transition: all 250ms ease-in-out;
}
input:focus{
    outline:none;
   
    }
.bttn{
   width: 200px;
   height: 25px;
   padding: 5px 20px;
   border:0 ;
   color:#fff;
   background-color: darkslateblue;
   cursor: pointer;
}
.bttn:hover{
    background-color: dodgerblue;
}
