.button{
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  height:26px;
  width : 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin : 1rem;
}
.button.focus{
  outline:none;
}
.button_line{
  width:28px;
  height:3px;
  background :white;
}
.rounded{
  background-color: blueviolet;
  border: none;
  border-radius: 50%;
  padding: 5px 9px;
  cursor:pointer;


}
@media (max-width: 600px){
 .nav{
   display: none;
 }
}
@media (max-width: 600px){

}